.main-footer {
    padding-bottom: 72px;
    margin-top: -5px;

    &_white {
        background: white !important;

        a {
            color: $darkGray;
            font-weight: $medium;
        }

        .main__header__sign__up {
            color: white;
            background: #00DFE3;
            font-weight: $light;
        }
    }
}
