.main-footer {
    padding-bottom: 72px;

    &_white {
        background: white;

        a {
            color: $darkGray;
            font-weight: $medium;
        }

        .main__header__sign__up {
            color: white;
            background: #00DFE3;
            font-weight: $light;
        }
    }
}
