// Variables
$mainFont: "FuturaPt";
$mainColor: hsl(0, 0%, 29%);
$lightBlue: #00D1FF;
$lightGray: hsl(0, 0%, 61%);
$lightestGray: #C0C0C0;
$darkGray: #4A4A4A;

$light: 300;
$regular: normal;
$medium: 500;
$demi: 600;
$bold: 700;

// Mixins
@media (max-width: 430px) {}

@media (max-width: 321px) {}
